{% extends 'primary.html' %}
{% block content %}

<div>
  <p>
    Are you sure you want to reinvite {{ user_email }}? <br>
    This will reset the user's password and send a new invite email with a temporary password.
  </p>
</div>

<form method="post">
  <!--button name="task" value="goto-view" type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-right-1" data-module="govuk-button">Cancel</button-->
  <a name="task" href="/admin/user" class="govuk-button govuk-button--secondary govuk-!-margin-right-1" data-module="govuk-button">Cancel</a>
  <button name="task" value="do-reinvite-user" type="submit" class="govuk-button" data-module="govuk-button">Reinvite</button>
</form>

{% endblock %}
