{% extends 'primary.html' %}
{% block content %}

<form action="/admin/user/confirm" method="post">

  <div class="govuk-form-group">
    <label class="govuk-label" for="full-name">
      Full name
    </label>
    <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="false" spellcheck="false" value="{{ user.name }}">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="email">
      Email address
    </label>
    <input class="govuk-input" id="email" name="email" type="text" {{ "readonly disabled='disabled'" if not new_user }} autocomplete="false" spellcheck="false" value="{{ user.email }}">
    {% if new_user %}
    <span class="govuk-hint">
      <br>
      The following email addresses are allowed:
      {% for domain in allowed_domains %}
      <pre>*{{ domain }}</pre>
      {% endfor %}
    </span>
    {% endif %}
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="telephone-number">
      UK mobile number
    </label>
    <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="false" value="{{ user.phone_number }}">
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="la_cond-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          Account type
        </h2>
      </legend>
      <select class="govuk-select" id="account-select" name="account">
        {% for group in available_groups %}
        <option value="{{ group['value'] }}" {% if "group" in user and user["group"]["value"] == group["value"] %} selected {% endif %}>{{ group['display'] }}</option>
        {% endfor %}
      </select>
    </fieldset>
  </div>

  <div id="standard-user-inputs">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="is-la-radio-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Local authority user?
          </h2>
        </legend>
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="is-la-radio" name="is-la-radio" type="radio" value="yes" {{ 'checked="checked"' if is_la }}>
            <label class="govuk-label govuk-radios__label" for="is-la-radio">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="is-la-radio-2" name="is-la-radio" type="radio" value="no" {{ 'checked="checked"' if not is_la }}>
            <label class="govuk-label govuk-radios__label" for="is-la-radio-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="la_cond-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Available download areas
          </h2>
        </legend>
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="other_cond" type="radio" data-aria-controls="conditional-other_cond" {{ 'checked="checked"' if is_other }} aria-expanded="true">
            <label class="govuk-label govuk-radios__label" for="other_cond">
              Other
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional" id="conditional-other_cond">
            <div class="govuk-form-group">
              <div class="govuk-checkboxes">
                {% for i in other.subs %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" name="custom_paths" type="checkbox" value="{{ i['val'] }}" {{
                    'checked="checked"' if i['val'] in user_custom_paths
                  }}>
                  <label class="govuk-label govuk-checkboxes__label" for="custom_paths">
                    {{ i['disp'] }}<br>
                    <span class="govuk-hint">
                      {{ i['val'] }}
                    </span>
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="la_cond" type="radio" data-aria-controls="conditional-la_cond" {{ 'checked="checked"' if is_la }}>
            <label class="govuk-label govuk-radios__label" for="la_cond">
              Local authority
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-la_cond">
            <div class="govuk-form-group">
              <div class="govuk-checkboxes">
                {% for i in local_authority.subs %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" name="custom_paths" type="checkbox" value="{{ i['val'] }}" {{
                    'checked="checked"' if i['val'] in user_custom_paths
                  }}>
                  <label class="govuk-label govuk-checkboxes__label" for="custom_paths">
                    {{ i['disp'] }}<br>
                    <span class="govuk-hint">
                      {{ i['val'] }}
                    </span>
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>

        </div>
      </fieldset>
    </div>

  </div>

  <div>
    <button name="task" value="{{ 'cancel-new' if new_user else 'cancel-existing' }}" class="govuk-button govuk-button--secondary govuk-!-margin-right-1" data-module="govuk-button" type="submit">Cancel</button>
    <button name="task" value="{{ 'continue-new' if new_user else 'continue-existing' }}" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" data-prevent-double-click="true" type="submit">Continue and check</button>
  </div>

{% endblock %}
