{% extends 'primary.html' %}
{% block content %}

<form action="/admin/user/confirm" method="post">

  <div class="govuk-form-group">
    <label class="govuk-label" for="full-name">
      Full name
    </label>
    <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="false" spellcheck="false" value="{{ user.name }}">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="email">
      Email address
    </label>
    <input class="govuk-input" id="email" name="email" type="text" {{ "readonly disabled='disabled'" if not enable_email_edit }} autocomplete="false" spellcheck="false" value="{{ user.email }}">
    {% if enable_email_edit %}
    <span class="govuk-hint">
      <br>
      The following domains are allowed:
      <pre>*.gov.uk</pre>
      <pre>brake.co.uk</pre>
      <!--The following domains are denied:
      <pre>digital.cabinet-office.gov.uk</pre>
      <pre>cabinet-office.gov.uk</pre>
      <pre>localdigital.gov.uk</pre>
      <pre>communities.gov.uk</pre>-->
    </span>
    {% endif %}
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="telephone-number">
      UK mobile number
    </label>
    <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="false" value="{{ user.phone_number }}">
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="is-la-radio-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Local authority user?
        </h1>
      </legend>
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="is-la-radio" name="is-la-radio" type="radio" value="yes" {{ 'checked="checked"' if is_la }}>
          <label class="govuk-label govuk-radios__label" for="is-la-radio">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="is-la-radio-2" name="is-la-radio" type="radio" value="no" {{ 'checked="checked"' if not is_la }}>
          <label class="govuk-label govuk-radios__label" for="is-la-radio-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="la_cond-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Type of account and access
        </h1>
      </legend>
      <span id="la_cond-hint" class="govuk-hint">
        Select one option.
      </span>
      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="wholesaler_cond" name="custom_paths_radio" type="radio" value="{{ wholesaler.main }}" data-aria-controls="conditional-wholesaler_cond" {{ 'checked="checked"' if is_wholesaler }} aria-expanded="true">
          <label class="govuk-label govuk-radios__label" for="wholesaler_cond">
            Wholesaler
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional" id="conditional-wholesaler_cond">
          <div class="govuk-form-group">
            <div class="govuk-checkboxes">
              {% for i in wholesaler.subs %}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" name="custom_paths" type="checkbox" value="{{ i['val'] }}" {{
                  'checked="checked"' if i['val'] in user_custom_paths
                }}>
                <label class="govuk-label govuk-checkboxes__label" for="custom_paths">
                  {{ i['disp'] }}<br>
                  <span class="govuk-hint">
                    {{ i['val'] }}
                  </span>
                </label>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="govuk-radios__item">
          <input type="hidden" name="custom_paths" value="{{ dwp.main }}">
          <input class="govuk-radios__input" id="dwp_radio" name="custom_paths_radio" type="radio" value="{{ dwp.main }}" {{
            'checked="checked"' if is_dwp
          }}>
          <label class="govuk-label govuk-radios__label" for="dwp_radio">
            DWP ({{ dwp.main }})
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="other_cond" name="custom_paths_radio" type="radio" value="{{ other.main }}" data-aria-controls="conditional-other_cond" {{ 'checked="checked"' if is_other }} aria-expanded="true">
          <label class="govuk-label govuk-radios__label" for="other_cond">
            Other
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional" id="conditional-other_cond">
          <div class="govuk-form-group">
            <div class="govuk-checkboxes">
              {% for i in other.subs %}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" name="custom_paths" type="checkbox" value="{{ i['val'] }}" {{
                  'checked="checked"' if i['val'] in user_custom_paths
                }}>
                <label class="govuk-label govuk-checkboxes__label" for="custom_paths">
                  {{ i['disp'] }}<br>
                  <span class="govuk-hint">
                    {{ i['val'] }}
                  </span>
                </label>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="la_cond" name="custom_paths_radio" type="radio" value="{{ local_authority.main }}" data-aria-controls="conditional-la_cond" {{ 'checked="checked"' if is_la }}>
          <label class="govuk-label govuk-radios__label" for="la_cond">
            Local authority
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-la_cond">
          <div class="govuk-form-group">
            <div class="govuk-checkboxes">
              {% for i in local_authority.subs %}
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" name="custom_paths" type="checkbox" value="{{ i['val'] }}" {{
                  'checked="checked"' if i['val'] in user_custom_paths
                }}>
                <label class="govuk-label govuk-checkboxes__label" for="custom_paths">
                  {{ i['disp'] }}<br>
                  <span class="govuk-hint">
                    {{ i['val'] }}
                  </span>
                </label>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

      </div>
    </fieldset>
  </div>

  <div>
    <a href="/admin"><button class="govuk-button govuk-button--secondary govuk-!-margin-right-1" data-module="govuk-button" type="button">Cancel</button></a>
    <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" data-prevent-double-click="true" type="submit">Continue and check</button>
  </div>

{% endblock %}
