{% extends 'primary.html' %}
{% block content %}


<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    <h1 class="govuk-fieldset__heading">
      View user
    </h1>
  </legend>

  <form action="/admin/user" method="post">
    <div class="govuk-form-group">
      <label class="govuk-label" for="name">
        Email address
      </label>
      <input class="govuk-input" name="email" type="email" spellcheck="false">
    </div>
    <button class="govuk-button" data-module="govuk-button" type=submit>Go to user</button>
  </form>
</fieldset>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    <h1 class="govuk-fieldset__heading">
      New user
    </h1>
  </legend>
  <form action="/admin/user/edit" method="post">
    <button name="task" value="new" class="govuk-button" data-module="govuk-button" type="submit">New user</button>
  </form>
</fieldset>

{% endblock %}
