{% extends 'primary.html' %}
{% block content %}

  <p class="covid-transfer--welcome-text">
    This is a new service for pre-registered users to access.
  </p>

  <p>
    If you would like support using this service, please email:<br>
    <a target="_blank" href="mailto:transfer-coronavirus-data-service@digital.cabinet-office.gov.uk">transfer-coronavirus-data-service@digital.cabinet-office.gov.uk</a>.
  </p>

  <p>
    For data privacy queries, please email:<br>
    <a href="mailto:gds-privacy-office@digital.cabinet-office.gov.uk">gds-privacy-office@digital.cabinet-office.gov.uk</a>.
  </p>

  <a href="{{ login_url }}" class="govuk-button covid-transfer-signin-button">
    Sign In
  </a>

{% endblock %}
