{% extends 'primary.html' %}
{% block content %}

  <p>This is a new service for pre-registered users to access.</p>

  <p>If you would like support or to report any unexpected data, please email <a target="_blank" href="mailto:transfer-coronavirus-data-service@digital.cabinet-office.gov.uk">transfer-coronavirus-data-service@digital.cabinet-office.gov.uk</a>.</p>

  <a href="{{ login_url }}">
    <button class="govuk-button" data-module="govuk-button" id="signInButton" title="Sign In">
      Sign In
    </button>
  </a>

{% endblock %}
