{% extends 'primary.html' %}
{% block content %}

  <p>
    <b>Note:</b> uploading files works best in the Chrome, Microsoft Edge or Firefox browser.
    <br/>Uploading also uses JavaScript to let you know whether an upload was successful or not.
    <br/>If you do not get an instant acknowledgement after clicking the "Start upload" button, please wait to receive an confirmation email before moving off the page.
  </p>

  <p>&nbsp;</p>

  {% if preupload %}

  <h3 class="govuk-heading-m">File settings</h3>

  <form id="preupload_form" method="post">
    <div class="govuk-form-group">
      <label class="govuk-label" for="file_location">
        <b>File location:</b>
      </label>

      {% if upload_keys|length == 1 %}
        <p>{{ upload_keys[0] | s3_remove_root_path }}<p>
      {% endif %}
      <select class="govuk-select {{ 'hidden' if upload_keys|length == 1 else '' }}" id="file_location" name="file_location">
        {% for ukey in upload_keys %}
        <option value="{{ ukey }}" {{ "selected='selected'" if upload_keys|length == 1 else "" }}>{{ ukey | s3_remove_root_path }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="file_name">
        <b>File name (excluding extension):</b>
      </label>
      <input class="govuk-input" id="file_name" name="file_name" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="file_ext">
        <b>File extension:</b>
      </label>
      {% if file_extensions|length == 1 %}
      <p>{{ file_extensions[0]['display'] }}<p>
      {% endif %}
      <select class="govuk-select {{ 'hidden' if file_extensions|length == 1 else '' }}" id="file_ext" name="file_ext">
        {% for ext in file_extensions %}
        <option value="{{ ext['ext'] }}" {{ "selected" if file_extensions|length == 1 else "" }}>{{ ext['display'] }}</option>
        {% endfor %}
      </select>
    </div>

    <p>&nbsp;</p>

    <h3 class="govuk-heading-m">The following filename will be uploaded</h3>
    <p id="dynamic_file_path">web-app-upload/path/yyyymmdd-hhMMss_{file name}.ext</p>

    <p>&nbsp;</p>

    <p>You'll be asked to select a file when you continue</p>
    <button id="preuploadbut" name="task" value="preupload" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" type="submit">Continue</button>
    <a href="/" id="preupload_cancel" class="govuk-button govuk-button--secondary" data-module="govuk-button">Cancel</a>
  </form>

  {% else %}

  <div id="upload_panel">
    <h3 class="govuk-heading-m">The following filename will be uploaded</h3>
    <p id="full_file_path">{{ filepathtoupload }}</p>

    <p>&nbsp;</p>

    <form id="upload_form" action="{{ presigned_object['url'] }}" method="POST" enctype="multipart/form-data">
      {% for key, value in presigned_object['fields'].items() %}
      <input type="hidden" class="upload_form_post_param" name="{{ key }}" value="{{ value }}" />
      {% endfor %}

      <div class="govuk-form-group">
        <label class="govuk-label" for="file">
          Upload a file
        </label>
        <input class="govuk-file-upload" id="file" name="file" type="file">
      </div>

      <p>&nbsp;</p>

      <button id="upload_submit" data-prevent-double-click="true" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" type="submit">Start upload</button>
    </form>

    <a href="/upload" class="govuk-button govuk-button--secondary" data-module="govuk-button">Cancel</a>
  </div>
  <div id="uploading_panel" class="hidden">
    <div id="uploading_spinner" class="govuk-!-margin-bottom-7 loading-spinner"></div>
    <div id="upload_success" class="hidden">
      <p>Uploaded successfully.</p>
      <a href="/upload" role="button" draggable="false" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Upload another file</a>
      <a href="/" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">Back to start</a>
    </div>
    <div id="upload_failure" class="hidden">
      <p>Upload failed.</p>
      <a href="/upload" role="button" draggable="false" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Try again</a>
      <a href="/" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">Back to start</a>
    </div>
  </div>

  {% endif %}

  <div></div>

  {% include "components/upload-template.html" %}

{% endblock %}
{% block scriptblock %}
  <script src="/js/s3upload.js?update=20200408-1619"></script>
{% endblock %}
