{% extends 'primary.html' %}
{% block content %}

  {% if is_admin_role %}
  <p>
    You have been granted access to manage users of this service.
  </p>
  <p>
    <a href="/admin" role="button" draggable="false" class="govuk-button govuk-button--start covid-transfer-files-button" data-module="govuk-button">
      User admin
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
  </p>
  {% else %}
  <p>
    This service allows you to access data on people who have asked for help and who are considered medically vulnerable to a COVID-19 infection.
  </p>
  <p>
    By using this service you agree to be bound by the Memorandum of Understanding and terms of your employment contract under which these files are provided.
  </p>

  <h3>Downloads</h3>
  <p>
    You will only use this data for these agreed purposes and will ensure use is secure and appropriate.
  </p>
  <p>
    Click the following button to get links to available files:
  </p>
  <p>
    <a href="/files" role="button" draggable="false" class="govuk-button govuk-button--start covid-transfer-files-button" data-module="govuk-button">
      Downloads
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
  </p>

  {% if upload_rights %}

  <h3>Upload</h3>

  <p>Click the following button upload file(s):</p>

  <p>
    <a href="/upload" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Upload
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
  </p>
  {% endif %}
  {% endif %}

{% endblock %}
